p {
  margin: 0;
}

div {
  box-sizing: border-box;
}

body {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
}
body ::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}
