p {
  margin: 0;
}

div {
  box-sizing: border-box;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body ::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
